services:
  test_db:
    image: postgres:18
    container_name: test_tiptap_db
    volumes:
      - test_tiptap_db_data:/var/lib/postgresql/data/pgdata
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    ports:
      - "5435:5432"

volumes:
  test_tiptap_db_data:
