:root {
    --font-sans:
        "Outfit", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
        sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
    height: 100%;
}
