.layoutWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 64px;
}

.mainSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 16px;
    padding-bottom: calc(var(--footer-height) + 20px);
}

.footerContainer {
    flex-shrink: 0;
    bottom: 0;
    height: var(--footer-height);
    z-index: 10;
}
